<AuthorizeView>
    <Authorized>
        <span class="me-2">Current User:&nbsp;<strong>@context.User.FindFirst("name")?.Value</strong></span>
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
